# Admin Database
DB_NAME=movies_database
DB_PASSWORD=pass
DB_USER=postgres
DB_HOST=db
DB_PORT=5432

# Admin
SECRET_KEY=secret
DJANGO_ENV=production
ALLOWED_HOSTS=127.0.0.1,localhost
SQL_OPTIONS='-c search_path=public,content'
LOG_SQL=False
ADMIN_JAEGER_HOST=jaeger
ADMIN_JAEGER_PORT=6831

# Elasticsearch settings
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
ELASTIC_SCHEMA=http://
ES_VERIFY_CERTS=false
ES_TIMEOUT=30

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Movies FastAPI
PROJECT_NAME="Read-only API для онлайн-кинотеатра"
API_PRODUCTION=true
CONSOLE_LOG_LEVEL=INFO
FILM_CACHE_EXPIRE_IN_SECONDS=300
PERSON_CACHE_EXPIRE_IN_SECONDS=600
GENRE_CACHE_EXPIRE_IN_SECONDS=1200
JAEGER_HOST=jaeger
JAEGER_PORT=6831

# ETL
ETL_CLEAN_START=true

# Auth Database
AUTH_POSTGRES_HOST=db-auth
AUTH_POSTGRES_USER=postgres
AUTH_POSTGRES_PASSWORD=pass
AUTH_POSTGRES_DB=movies_auth
AUTH_POSTGRES_PORT=5432
AUTH_ECHO_QUERIES=True

# Auth Redis
AUTH_REDIS_HOST=redis-auth
AUTH_REDIS_PORT=6379
AUTH_TEST_REDIS_HOST=redis
AUTH_TEST_REDIS_PORT=6379

# Auth FastAPI
MIGRATE="true"
AUTH_PRIVATE_KEY="/app/keys/example_private_key.pem"
AUTH_PUBLIC_KEY="/app/keys/example_public_key.pem"
AUTH_JAEGER_HOST=jaeger
AUTH_JAEGER_PORT=6831
AUTH_API_PRODUCTION=True
AUTH_GOOGLE_CLIENT_FILE_PATH=/app/keys/google_oauth_client_secret.json
AUTH_GOOGLE_REDIRECT_HOST=localhost
AUTH_GOOGLE_CLIENT_ID=test_client_id
