# database
DB_NAME=movies_database
DB_PASSWORD=pass
DB_USER=postgres
DB_HOST=db
DB_PORT=5432
# admin
SECRET_KEY=secret
DJANGO_ENV=production
ALLOWED_HOSTS=127.0.0.1,localhost
SQL_OPTIONS='-c search_path=public,content'
LOG_SQL=False
# Elasticsearch settings
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
ELASTIC_SCHEMA=http://
ES_VERIFY_CERTS=false
ES_TIMEOUT=30
# redis
REDIS_HOST=redis
REDIS_PORT=6379
# api
PROJECT_NAME="Read-only API для онлайн-кинотеатра"
API_PRODUCTION=true
CONSOLE_LOG_LEVEL=INFO
FILM_CACHE_EXPIRE_IN_SECONDS=300
PERSON_CACHE_EXPIRE_IN_SECONDS=600
GENRE_CACHE_EXPIRE_IN_SECONDS=1200
# etl
ETL_CLEAN_START=true
